@media screen and (max-width:489px)
{
  .BG1{
    background-color: #f5eff1;
    position:fixed;
    top:0px;
    left:40%;
    width:100%;
    height:150%;
    transform: rotate(15deg);
    z-index:-3;
  }
  .mainspace{
    margin:15%;
    z-index:4;
  }
}
