@media screen and (max-width:489px)
{
  .mainspace{
    padding:12px 0px;
    z-index:6;
    min-height:100%;
  }
  .logo{
    padding:0px 0px;
    text-align:center;
    color:$hilight;
    font-size:70px;
    font-family: "Nico Moji";
    margin-left:0%;
    margin-top:0%;
    min-width:0px;
  }
  .frame_music{
    min-width:0px;
  }
}
@media screen and (min-width:900px){
  .mainspace{
    background-size:100%;
    background-position:0px 100%;
  }
  .fa-bars{
    color:#16477f;
    color:#f23473;
  }
{
@media screen and (max-width:640px){
  .frame_music{
    min-width:0px;
  }
{
