@media screen and (max-width:489px)
{
  .mainspace{
    padding:12px 0px;
    z-index:6;
    min-height:100%;
  }
  .logo{
    font-size:70px;
    animation:
      LogoRotation 1.9s ease 1.00s both, 
      LogoDrop 0.6s ease 0.4s both; 
  }
@keyframes LogoDrop{
  0%{ margin-top:-200px; }
  20%{ margin-top:20%; animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); }
  40%{ margin-top:15%; animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22); }
  60%{ margin-top:20%; animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); }
  80%{ margin-top:19%; animation-timing-function: linear; }
  100%{ margin-top:20%; }
}
.sidebar_closed{
  width:100%;
  top:-100%;
}
.headbox{
  padding-left:3%;
  text-align:left;
}
.sidebar_open{
  animation-duration:0.5s;
  animation-name:slidein;
  animation-timing-function: linear; 
  animation-fill-mode:both;
  width:100%;
  top:-100%;
}
.item{
  vertical-align:center;
}
@keyframes slidein{
  0%{
    top:-100%;
  }
  20%{
    top:0%;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  40%{
    top:-10%;
    animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  }
  60%{
    top:-0%;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  80%{
    top:-2%;
    animation-timing-function: linear; 
  }
  100%{
    top:0%;
  }
}
  .frame_music{
    min-width:0px;
  }
}
@media screen and (min-width:900px){
  .mainspace{
    background-size:100%;
    background-position:0px 100%;
  }
{
@media screen and (max-width:640px){
  .frame_music{
    min-width:0px;
  }
{
