h1 {
  text-align: center;
  color: #16477f; }

h2 {
  text-align: center;
  color: #16477f; }

h3 {
  color: #16477f; }

h4 {
  color: #16477f; }

html {
  height: 100%; }

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto; }

.BG1 {
  background-color: #f5eff1;
  position: fixed;
  top: 0px;
  left: 40%;
  width: 100%;
  height: 110%;
  transform: rotate(-65deg);
  z-index: -3; }

.container {
  position: fixed; }

.sidebar_closed {
  box-shadow: 0px 0px 4px #000;
  position: fixed;
  top: 0px;
  right: -250px;
  width: 250px;
  height: 100%;
  color: #fff;
  background: #16477f;
  z-index: 20;
  transition: all 300ms 0s ease; }

.sidebar_open {
  box-shadow: 0px 0px 4px #000;
  position: fixed;
  top: 0px;
  right: -50px;
  width: 220px;
  height: 100%;
  color: #fff;
  background: #16477f;
  background-color: rgba(22, 71, 127, 0.7);
  border: solid 1px #16477f;
  z-index: 20;
  animation-duration: 0.4s;
  animation-name: slidein; }

@keyframes slidein {
  from {
    right: -250px; }
  to {
    right: -50px; } }
.item {
  font-size: 24px;
  align: center;
  font-family: "Nico Moji";
  text-align: 10px;
  padding: 16px;
  padding: 16px;
  transition: all 70ms 0s ease-in;
  color: #fff; }

.item:hover {
  background-color: #3c79f6; }

.label {
  width: 100px;
  height: 8px;
  background-color: #fff;
  opacity: 0.5; }

.fa-bars {
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 4px;
  font-size: 36px;
  color: #16477f; }

.fa-times {
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 4px;
  font-size: 36px;
  transition: font-size 600ms 0s ease;
  transition: color 600ms 0s ease;
  color: #fff; }

.fa-times:hover {
  color: #3c79f6; }

.fa-bars:hover {
  /*
  position:relative;
  top:0px;
  left:36px;
  font-size:48px;
  animation-duration:0.3s;
  animation-name:pulpul;
  */
  color: #3c79f6; }

@keyframes pulpul {
  0% {
    font-size: 36px; }
  30% {
    font-size: 56px; }
  100% {
    font-size: 44 px; } }
.menu {
  margin-top: 30%; }

.menutitle {
  color: #f5dd68;
  font-size: 30px;
  margin-left: 20px;
  margin: 20px;
  font-family: "Nico Moji"; }

.container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%; }

.menu_open {
  margin-left: 97%;
  width: 48px;
  height: 48px;
  z-index: 3; }

.menu_close {
  margin-left: 30%;
  margin-top: 10%;
  width: 48px;
  height: 48px;
  z-index: 3; }

.layer {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 0%;
  height: 0%;
  opacity: 0.0;
  background-color: #121331;
  z-index: 10;
  animation-duration: 0.5s;
  animation-name: undark; }

.layer_dark {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: #121361;
  z-index: 10;
  animation-duration: 0.5s;
  animation-name: dark; }

@keyframes dark {
  0% {
    opacity: 0.0; }
  100% {
    opacity: 0.5; } }
@keyframes undark {
  0% {
    opacity: 0.5; }
  100% {
    opacity: 0.0; } }
.layer2 {
  z-index: 1;
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  height: 0%;
  background-color: #f69; }

.layer2_trans {
  z-index: 1;
  position: absolute;
  top: -100%;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #f69;
  animation-duration: 1s;
  animation-name: trans; }

@keyframes trans {
  0% {
    top: 100%; }
  100% {
    top: -100%; } }
.box {
  font-family: "Rounded Mplus 1c";
  padding: 60px 0px;
  color: #16477f;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  transition: all 300ms 0s ease; }

.box_white {
  font-family: "Rounded Mplus 1c";
  padding: 60px 0px;
  color: #16477f;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  transition: all 300ms 0s ease; }

div {
  display: block; }

.mainspace {
  padding: 48px 24px;
  min-height: 85%;
  z-index: 6;
  background: #fff;
  background-image: url("../resource/web.png");
  background-attachment: fixed;
  background-repeat: no-repeat; }

.logo {
  color: #16477f;
  padding: 0px 0px;
  font-size: 70px;
  font-family: "Nico Moji";
  margin-left: 25%;
  margin-top: 5%;
  min-width: 350px; }

.logo_subtext {
  color: #16477f;
  font-size: 16px;
  font-family: "Rounded Mplus 1c"; }

.greeting {
  font-family: "Rounded Mplus 1c";
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #ffffff;
  border-radius: 4px;
  background: #16477f; }

.greeting:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #16477f; }

.footer {
  font-size: 15px;
  width: 100%;
  height: 25%;
  color: #f5eff1;
  background: #16477f;
  font-family: "Rounded Mplus 1c";
  box-shadow: 0px 0px 4px #16477f;
  z-index: 1; }

.footer-content {
  padding: 48px; }

.head {
  background: rgba(106, 68, 108, 0.5);
  background: rgba(255, 255, 255, 0);
  border-radius: 2px;
  position: fixed;
  width: 100%;
  height: 36px;
  top: 6px;
  z-index: 22; }

.links {
  margin: 48px;
  opacity: 1;
  display: inline;
  margin: 2px; }

.bar {
  position: absolute;
  right: 32px;
  display: inline;
  margin-right: 8px; }

.fa-black {
  color: #fff;
  transition: all 100ms 0s ease;
  font-size: 32px;
  z-index: 3; }

.fa-black:hover {
  font-size: 32px;
  color: #3c79f6;
  color: #30c7ff; }

a {
  transition: color .2s;
  color: #3c79f6;
  text-decoration: none; }

.unko {
  z-index: 15; }

/*# sourceMappingURL=style.css.map */
