@font-face {
  font-family: "honoka";
  src: url("../resource/Fonts/honoka.ttf") format("opentype"); }
@font-face {
  font-family: "gkktt";
  src: url("../resource/Fonts/gkktt.ttf") format("opentype"); }
/*$hilight:#3c79f6;*/
img {
  object-fit: cover; }

h1 {
  text-align: center;
  color: #e2146a; }

h2 {
  text-align: center;
  color: #e2146a; }

h3 {
  color: #e2146a; }

h4 {
  color: #e2146a; }

html {
  height: 100%; }

body {
  overflow-x: hidden;
  background-attachment: fixed;
  background-size: cover;
  background-color: #fad8e4;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  /*-webkit-animation: fadeIn 2s ease 0s 1 normal;*/ }

.rightside {
  position: fixed;
  top: 0px;
  animation-name: sidelineInR; }

.leftside {
  position: fixed;
  top: 0px;
  animation-name: sidelineInL; }

.sideline {
  width: 10px;
  height: 100%;
  top: 0px;
  background: #9a449d;
  animation-duration: 0.8s;
  animation-delay: 0.0s;
  animation-fill-mode: both; }

@keyframes sidelineInR {
  0% {
    background: #e2146a;
    right: 100%; }
  100% {
    background: #9a449d;
    right: 10px; } }
@keyframes sidelineInL {
  0% {
    background: #e2146a;
    left: 100%; }
  100% {
    left: 10px;
    background: #9a449d; } }
.sidebar_closed {
  box-shadow: 0px 0px #f4bebe;
  position: fixed;
  top: 0px;
  right: -250px;
  width: 250px;
  height: 100%;
  color: #fff;
  background: #e2146a;
  z-index: 20;
  transition: all 300ms 0s ease; }

.sidebar_open {
  position: fixed;
  top: 0px;
  width: 220px;
  height: 100%;
  color: #fff;
  /*background-color:rgba(22,71,127,0.7);*/
  background: #e2146a;
  border: solid 1px #fad8e4;
  z-index: 20;
  box-shadow: 3px 3px 3px #f4bebe;
  animation-duration: 0.4s;
  animation-name: slidein;
  animation-fill-mode: both; }

@keyframes slidein {
  0% {
    right: -250px; }
  10% {
    right: -50px; }
  40% {
    right: -40px; }
  60% {
    right: -50px; }
  80% {
    right: -45px; }
  100% {
    right: -50px; } }
.item {
  font-size: 24px;
  font-size: 32px;
  align: center;
  /*font-family: "SAO","Ronde"*/
  /*font-family: "Nico Moji"; */
  font-family: "gkktt";
  text-align: 10px;
  padding: 16px;
  transition: all 70ms 0s ease-in;
  color: #fff; }

.item:hover {
  background-color: #f2b473; }

.label {
  width: 100px;
  height: 8px;
  background-color: #fff;
  opacity: 0.5; }

@keyframes downIn {
  0% {
    top: -148px;
    box-shadow: 0px 0px #f4bebe; }
  10% {
    top: 16px; }
  100% {
    box-shadow: 10px 10px #f4bebe; } }
.bar {
  position: fixed;
  right: 48px;
  top: 8px;
  height: 48px;
  width: 64px;
  margin-right: 8px;
  padding-top: 16px;
  z-index: 100; }

.fa-bars {
  z-index: 101;
  border: solid 2px;
  border-color: #e2146a;
  border-radius: 4px;
  color: #e2146a;
  background-color: #fad8e4;
  position: relative;
  left: 0px;
  font-size: 32px;
  box-shadow: 10px 10px #f4bebe;
  transition: all 300ms 0s ease;
  animation-name: downIn;
  animation-duration: 0.7s;
  animation-delay: 0.9s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-fill-mode: both; }

.fa-bars:hover {
  color: #5224fa;
  box-shadow: 1px 1px #f4bebe; }

.fa-times {
  z-index: 10001;
  visibility: hidden;
  position: relative;
  left: 0px;
  border-radius: 4px;
  font-size: 12px;
  transition: all 300ms 0s ease;
  transition: font-size 600ms 0s ease;
  color: #fff; }

.fa-times:hover {
  color: #f2b473; }

@keyframes pulpul {
  0% {
    font-size: 36px; }
  30% {
    font-size: 56px; }
  100% {
    font-size: 44 px; } }
.menu {
  margin-top: 30%; }

.menutitle {
  color: #f5dd68;
  font-size: 30px;
  margin-left: 20px;
  margin: 20px;
  /*font-family: "SAO","Ronde"*/
  font-family: "Nico Moji"; }

.container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  font-family: "honoka";
  color: #9a449d; }

.menu_open {
  margin-left: 97%;
  width: 48px;
  height: 48px;
  z-index: 3; }

.menu_close {
  margin-left: 30%;
  margin-top: 10%;
  width: 48px;
  height: 48px;
  z-index: 3; }

.layer {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 0%;
  height: 0%;
  opacity: 0.0;
  background-color: #121331;
  z-index: 10;
  animation-duration: 0.5s;
  animation-name: undark; }

.layer_dark {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  opacity: 0.0;
  background-color: #121361;
  z-index: 10;
  animation-duration: 0.5s;
  animation-name: dark; }

@keyframes dark {
  0% {
    opacity: 0.0; }
  100% {
    opacity: 0.5;
    opacity: 0.0; } }
@keyframes undark {
  0% {
    opacity: 0.5; }
  100% {
    opacity: 0.0; } }
.layer2 {
  z-index: 1;
  top: 100%;
  left: 0px;
  width: 100%;
  height: 0%;
  background-color: #f69; }

.layer2_trans {
  z-index: 1;
  top: -100%;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #f69;
  animation-duration: 1s;
  animation-name: trans; }

@keyframes trans {
  0% {
    top: 100%; }
  100% {
    top: -100%; } }
div {
  display: block; }

@keyframes LogoFadeIn {
  0% {
    top: -18px;
    opacity: 0; }
  100% {
    top: 0x;
    opacity: 1; } }
.logo_subtext {
  color: #e2146a;
  font-size: 16px;
  z-index: -100;
  font-family: "honoka"; }

.chara {
  max-width: 250px;
  min-width: 150px;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto;
  opacity: 0;
  animation: charaFadeIn 0.9s ease 0.0s 1 normal both, charaMotionX 14.5s ease-in 0.9s infinite normal, charaMotionY 3.5s ease 0.9s infinite normal; }

@keyframes charaMotionY {
  0% {
    top: 20px; }
  50% {
    top: 0px; }
  100% {
    top: 20px; } }
@keyframes charaFadeIn {
  0% {
    top: -138px;
    opacity: 0;
    transform: rotate(0deg); }
  100% {
    top: 20px;
    opacity: 1;
    transform: rotate(0deg); } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.greeting {
  font-family: "Rounded Mplus 1c";
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #ffffff;
  border-radius: 4px;
  background: #e2146a; }

.greeting:before {
  content: "";
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #e2146a; }

.footer {
  font-size: 15px;
  width: 100%;
  height: 25%;
  color: #fff;
  background: #e2146a;
  font-family: "Rounded Mplus 1c";
  box-shadow: 0px 0px 4px #e2146a;
  z-index: 1; }

.footer-content {
  padding: 48px; }

.logo {
  color: #e2146a;
  padding: 0px 0px;
  font-size: 150px;
  font-family: "Ronde";
  font-family: "Nico Moji";
  /*margin-left:25%;*/
  margin-top: 10%;
  min-width: 350px;
  animation-name: LogoFadeIn;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: both; }

.links {
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 10%;
  padding: 30px; }

.fab {
  font-size: 32px;
  margin: 20px;
  background-color: #e2146a;
  color: #ead8e4;
  border-radius: 4px;
  padding-top: 16px;
  opacity: 0;
  height: 43px;
  width: 58px;
  box-shadow: 2px 2px 4px #f4bebe;
  transition: all 100ms 0s ease; }

@keyframes PopIn {
  0% {
    opacity: 0;
    transform: rotate(180deg); }
  40% {
    transform: rotate(-20deg); }
  60% {
    transform: rotate(8deg); }
  80% {
    transform: rotate(-3deg); }
  100% {
    opacity: 1;
    transform: rotate(0deg); } }
.fa-twitter {
  padding-left: 1px;
  animation-name: PopIn;
  animation-duration: 0.5s;
  animation-delay: 0.8s;
  animation-fill-mode: both; }

.fa-soundcloud {
  position: relative;
  top: 10px;
  padding-left: 1px;
  animation-name: PopIn;
  animation-duration: 0.5s;
  animation-delay: 0.9s;
  animation-fill-mode: both; }

.fa-github {
  padding-left: 1px;
  animation-name: PopIn;
  animation-duration: 0.5s;
  animation-delay: 1.0s;
  animation-fill-mode: both;
  transition: all 100ms 0s ease; }

.fab:hover {
  background-color: #f2b473;
  color: #e2146a; }

a {
  transition: color .2s;
  text-decoration: none;
  color: #f23473; }

a:hover {
  color: #f2b473; }

/*# sourceMappingURL=style.scss.map */

/*# sourceMappingURL=style.css.map */
