@font-face {
  font-family: "honoka";
  src: url("../resource/Fonts/honoka.ttf") format("opentype"); }
@font-face {
  font-family: "gkktt";
  src: url("../resource/Fonts/gkktt.ttf") format("opentype"); }
/*$hilight:#3c79f6;*/
$hilight:#f2b473;
$hilight2:#f23473;
$BGColor:#fad8e4;
$BGColor2:#cad8f4;
$BGColor2:#a4befe;
$baseColor:#e2146a;
$baseColor2:#f4bebe;
$baseColor3:#5224fa;
$fontColor:#9a449d;
$shadow2:#6a446d;
$shadow:$baseColor2;

img {
  object-fit: cover; }

h1 {
  text-align: center;
  color: $baseColor; }

h2 {
  text-align: center;
  color: $baseColor; }

h3 {
  color: $baseColor; }

h4 {
  color: $baseColor; }

html {
  height: 100%; }

body {
  overflow-x: hidden;
  background-attachment: fixed;
  background-size: cover;
  background-color: $BGColor;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  /*-webkit-animation: fadeIn 2s ease 0s 1 normal;*/ }
.rightside{
position: fixed;
top:0px;
animation-name:sidelineInR;
}
.leftside{
position: fixed;
top:0px;
animation-name:sidelineInL;
}
.sideline{
  width:10px;
  height:100%;
top:0px;
  background:$fontColor; 
animation-duration: 0.8s;
animation-delay:0.0s;
//:animation-timing-function: cubic-bezier(.07,1.15,.98,.94);
animation-fill-mode: both; 
}
@keyframes sidelineInR{
  0%{
    background:$baseColor; 
    right:100%
  };
  100%{
    background:$fontColor; 
    right:-10px
  };
}
@keyframes sidelineInL{
  0%{
    background:$baseColor; 
    left:100%
  };
  100%{
    left:-10px;
    background:$fontColor; 
  }
}
.sidebar_closed {
  box-shadow: 0px 0px $baseColor2;
  position: fixed;
  top: 0px;
  right: -250px;
  width: 250px;
  height: 100%;
  color: #fff;
  background: $baseColor;
  z-index: 20;
  transition: all 300ms 0s ease; }
.head{}
.sidebar_open {
  position: fixed;
  top: 0px;
  width: 220px;
  height: 100%;
  color: #fff;
  /*background-color:rgba(22,71,127,0.7);*/
  background: $baseColor;
  border: solid 1px $BGColor;
  z-index: 20;
  box-shadow:3px 3px 3px $shadow ;
  animation-duration: 0.4s;
  animation-name: slidein;
  animation-fill-mode: both; }


@keyframes slidein {
  0% { right: -250px; }
  10% { right: -50px; }
  40% { right: -40px; }
  60% { right: -50px; }
  80% { right: -45px; }
  100% { right: -50px; } 
}
.item {
  font-size: 24px;
  font-size: 32px;
  align: center;
  /*font-family: "SAO","Ronde"*/
  /*font-family: "Nico Moji"; */
  font-family: "gkktt";
  text-align: 10px;
  //padding: 16px;
  margin-top:16px;
  transition: all 70ms 0s ease-in;
  color: #fff; 
}

.item:hover {
  background-color: #f2b473; }

.label {
  width: 100px;
  height: 8px;
  background-color: #fff;
  opacity: 0.5; }

@keyframes downIn {
  0% {
    top: -148px;
    box-shadow: 0px 0px $baseColor2; }
  10% {
    top: 16px; }
  100% {
    box-shadow: 10px 10px $baseColor2; } }
.bar {
  position: fixed;
  right: 48px;
  top: 8px;
  height: 48px;
  width: 64px;
  margin-right: 8px;
  padding-top: 16px; 
  z-index:100;
}
.fa-bars {
  z-index:101;
  border: solid 2px;
  border-color: $baseColor;
  border-radius: 4px;
  color: $baseColor;
  background-color: $BGColor;
  position: relative;
  left: 0px;
  font-size: 32px;
  box-shadow: 10px 10px $baseColor2;
  //transition: all 300ms 0s ease;
  transition: all 200ms 0s cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-name: downIn;
  animation-duration: 0.7s;
  animation-delay: 0.3s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-fill-mode: both;
 }
.fa-bars:hover {
  color:$baseColor3; 
  box-shadow: 1px 1px $baseColor2; 
}

.fa-times {
  z-index:10001;
  visibility: hidden;
  position: relative;
  left: 0px;
  border-radius: 4px;
  font-size: 12px;
  transition: all 300ms 0s ease;
  transition: font-size 600ms 0s ease;
  color: #fff; }

.fa-times:hover {
  color: #f2b473; }


@keyframes pulpul {
  0% {
    font-size: 36px; }
  30% {
    font-size: 56px; }
  100% {
    font-size: 44 px; } }
.menu {
  margin-top: 30%; }

.menutitle {
  color: #f5dd68;
  font-size: 30px;
  margin-left: 20px;
  margin: 20px;
  /*font-family: "SAO","Ronde"*/
  font-family: "Nico Moji"; }

.container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  font-family: "honoka";
  color: #9a449d;
  //background-color:$BGColor;
}

.menu_open {
  margin-left: 97%;
  width: 48px;
  height: 48px;
  z-index: 3; }

.menu_close {
  margin-left: 30%;
  margin-top: 10%;
  width: 48px;
  height: 48px;
  z-index: 3; }

.layer {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 0%;
  height: 0%;
  opacity: 0.0;
  background-color: #121331;
  z-index: 10;
  animation-duration: 0.5s;
  animation-name: undark; }

.layer_dark {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  opacity: 0.0;
  background-color: #121361;
  z-index: 10;
  animation-duration: 0.5s;
  animation-name: dark; }

@keyframes dark {
  0% {
    opacity: 0.0; }
  100% {
    opacity: 0.5;
    opacity: 0.0; } }
@keyframes undark {
  0% {
    opacity: 0.5; }
  100% {
    opacity: 0.0; } }
.layer2 {
  z-index: 1;
  top: 100%;
  left: 0px;
  width: 100%;
  height: 0%;
  background-color: #f69; }

.layer2_trans {
  z-index: 1;
  top: -100%;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #f69;
  animation-duration: 1s;
  animation-name: trans; }

@keyframes trans {
  0% {
    top: 100%; }
  100% {
    top: -100%; } }
div {
  display: block; }

@keyframes LogoDrop{
  0%{ margin-top:-200px; }
  20%{ margin-top:10%; animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); }
  40%{ margin-top:5%; animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22); }
  60%{ margin-top:10%; animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); }
  80%{ margin-top:9%; animation-timing-function: linear; }
  100%{ margin-top:10%; }
}
@keyframes LogoRotation{
  0% {
     transform: rotate(0deg);
     animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); 
     }
  6% {
     transform: rotate(4deg); 
     animation-timing-function: ease; 
    }
  100% {
     transform: rotate(5deg); 
    }
 }
 .opening{
   position:absolute;
   top:0px;
   left:0px;
   width:100%;
   height:100%;
   padding-top:45%;
   font-size:10px;
   color:#fff;
   background:$baseColor;
   z-index:100;
   animation:fadeOut 0.5s ease 2.0s both;
 }
 @keyframes fadeOut{
    0%{opacity:1}
    100%{opacity:0}
 }

.logo_subtext {
  color: $baseColor;
  font-size: 16px;
  z-index:-1;
  position:absolute;
  top:90%;
  left:3%;
  margin: auto;
  margin:auto;
  font-family: "honoka";
}
.chara {
  z-index:2;
  max-width:250px;
  min-width:150px;
  position: absolute;
  top: 0px; right: 0px; bottom: 0px; left: 0px;
  margin: auto;
  opacity: 0;
  animation:
     charaFadeIn 0.9s ease 0.0s 1 normal both,
     charaMotionY 3.5s ease 0.9s infinite normal;
}
.BGbox{
  position:absolute;
  left:0px;top:0px;
  width:100px;
  height:100px;
  background:$baseColor2;
}
.BGLine{
  position:absolute;
  width:3%;
  height:100%; 
  background:$BGColor2;
  position:fixed;
  top:0px;
  z-index:-1;
  animation:BGLine 0.9s ease 1.5s both;
}
@keyframes BGLine{
   0%{width:0%;}
   100%{width:2%;}
}
#line0{ left:70%;animation-delay:1.3s;}
#line1{ left:40%;animation-delay:1.33s;}
#line2{ left:10%;animation-delay:1.36s;}
#line3{ left:80%;animation-delay:1.39s;}
#line4{ left:50%;animation-delay:1.42s;}
#line5{ left:20%;animation-delay:1.45s;}
#line6{ left:90%;animation-delay:1.48s;}
#line7{ left:60%;animation-delay:1.51s;}
#line8{ left:30%;animation-delay:1.54s;}
#line9{ left:00%;animation-delay:1.57s;}

.BGCircle1{
  z-index:-3;
  position:fixed;
  right:0px;left:0px;
  bottom:0px;top:0px;
  margin:auto;
  border-radius:50%;
  background:$baseColor2;
  animation:BGIn 1.2s  ease 0.5s both;
}
.BGCircle2{
  z-index:-2;
  position:fixed;
  right:0px;left:0px;
  bottom:0px;top:0px;
  margin:auto;
  border-radius:50%;
  background:$BGColor;
  animation-name:BGIn;
  animation-duration:0.5s;
  animation-delay:1.1s;
  animation-fill-mode: both;
}
@keyframes BGIn{
  0% {
  width:0vw;
  height:0vw;
   }
  100% {
  width:100vw;
  height:100vw;
   }
}
@keyframes BGIn2{
  0% {
  width:0vw;
  height:0vw;
   }
  100% {
  width:99vw;
  height:99vw;
   }
}
@keyframes charaMotionX {
  0% {}
  100% {}
 }
@keyframes charaMotionY {
  0% {
    top: 20px; }
  50% {
    top: 0px; }
  100% {
    top: 20px; } }
@keyframes charaFadeIn {
  0% {
    top: -138px;
    opacity: 0;
    transform: rotate(0deg); }
  100% {
    top: 20px;
    opacity: 1;
    transform: rotate(0deg); } }
@keyframes fadeIn{
  0% { opacity: 0;}
  100% { opacity: 1;}
 }
.greeting {
  font-family: "Rounded Mplus 1c";
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #ffffff;
  border-radius: 4px;
  background: $baseColor; }

.greeting:before {
  content: "";
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid $baseColor; }

.footer {
  font-size: 15px;
  width: 100%;
  height: 25%;
  color: #fff;
  background: $baseColor;
  font-family: "Rounded Mplus 1c";
  box-shadow: 0px 0px 4px $baseColor;
  z-index: 1; }

.footer-content {
  padding: 48px; }
.logo {
  transform: rotate(0deg); 
  color: $baseColor;
  padding: 0px 0px;
  font-size:150px;
  font-family: "Ronde";
  font-family: "Nico Moji";
  /*margin-left:25%;*/
  margin-top:10%;
  min-width: 350px;
  transform-origin:20% 50%;
  animation:
   LogoRotation 1.9s ease 0.90s both, 
   LogoDrop 0.5s ease 0.4s both; 
}
.links {
  position: absolute;
  right: 0px; left: 0px;
  bottom:10%;
  //margin: auto;
  padding:30px;
 }

.fab {
  font-size: 32px;
  margin: 20px;
  background-color: $baseColor;
  color: #ead8e4;
  border-radius: 4px;
  padding-top: 16px;
  opacity: 0;
  height: 43px;
  width: 58px;
  box-shadow: 2px 2px 4px $baseColor2;
  transition: all 100ms 0s ease; }

@keyframes PopIn {
  0% {
    opacity: 0;
    transform: rotate(180deg); }
  40% {
    transform: rotate(-20deg); }
  60% {
    transform: rotate(8deg); }
  80% {
    transform: rotate(-3deg); }
  100% {
    opacity: 1;
    transform: rotate(0deg); } }
.fa-twitter {
  padding-left: 1px;
  animation-name: PopIn;
  animation-duration: 0.5s;
  animation-delay: 1.3s;
  animation-fill-mode: both; }

.fa-soundcloud {
  position: relative;
  top: 10px;
  padding-left: 1px;
  animation-name: PopIn;
  animation-duration: 0.5s;
  animation-delay: 1.4s;
  animation-fill-mode: both; }

.fa-github {
  padding-left: 1px;
  animation-name: PopIn;
  animation-duration: 0.5s;
  animation-delay: 1.5s;
  animation-fill-mode: both;
  transition: all 100ms 0s ease; }

.fab:hover {
  background-color: #f2b473;
  color: $baseColor; }

a {
  transition: color .2s;
  text-decoration: none;
  color: #f23473; }

a:hover {
  color: #f2b473; }

/*# sourceMappingURL=style.scss.map */
