@font-face {
  font-family:"honoka";
  src:url("../resource/Fonts/honoka.ttf") format("opentype");
}
@font-face {
  font-family:"SAO";
  src:url("../resource/Fonts/Orbitron-Light.ttf") format("opentype");
}

$hilight_cyan:#3c79f6;
/*$hilight:#3c79f6;*/
$hilight:#f23473;
$hilight:#f2b473;
$BGColor:#ead8e4;
$baseColor:#d21443;
$baseColor:#e2144a;
$baseColor2:#f4bebe;
$fontColor:#9a449d;
$shadow:#6a446d;
$shadow:#f4bebe;
img {
  object-fit: cover;
}
h1{
 text-align:center;
 color:$baseColor;
}
h2{
 text-align:center;
 color:$baseColor;
}
h3{
 color:$baseColor;
}
h4{
 color:$baseColor;
}
html {
  height:100%;
}
body {
  background-image: url("../resource/img/web.png");
  background:$BGColor;
  background-attachment: fixed;
  background-size:cover;
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  /*-webkit-animation: fadeIn 2s ease 0s 1 normal;*/
}
@keyframes fadeIn{
   0%{opacity:0}
   100%{opacity:1}
}

.container{
  position:fixed;
}
.sidebar_closed{
  box-shadow:0px 0px 4px $shadow;
  position:fixed;
  top:0px;
  right:-250px;
  width:250px;
  height:100%;
  color:#fff;
  background:$baseColor;
  z-index:20;
  transition:all 300ms 0s ease;
}
.sidebar_open{
  box-shadow:0px 0px 4px $shadow ;
  position:fixed;
  top:0px;
  right:-50px;
  width:220px;
  height:100%;
  color:#fff;
/*background-color:rgba(22,71,127,0.7);*/
  background:$baseColor;
  border:solid 1px $baseColor;
  z-index:20;
  animation-duration:0.4s;
  animation-name:slidein;
}
@keyframes slidein{
  0%{right:-250px}
  10%{right:-50px}
  40%{right:-40px}
  60%{right:-50px}
  80%{right:-45px}
  100%{right:-50px}
}
.item{
  font-size:24px;
  align:center;
  /*font-family: "SAO","Ronde"*/;
  font-family: "Nico Moji"; 
  text-align:10px;
  padding:16px;
  transition:all 70ms 0s ease-in;
  color:#fff;
}
.item:hover{
  background-color:$hilight;
}
.label{
  width:100px;
  height:8px;
  background-color:#fff;
  opacity:0.5;
}
@keyframes downIn{
  0%{
    top:-148px;
  box-shadow:0px 0px $baseColor2;
  }
  10%{
    top:16px;
  }
  100%{
  box-shadow:10px 10px $baseColor2;
  }
}

.bar{
  position:absolute;
  right:48px;
  top:8px;
  height:48px;
  width:64px;
  margin-right:8px;
  padding-top:16px;
}
.fa-bars{
  border:solid;
  border-color:$baseColor2 1px;
  border-radius:4px;
  color:$baseColor;
  position:relative;
  left:0px;
  font-size:32px;
  box-shadow:10px 10px $baseColor2;

  transition:all 100ms 0s ease;

  animation-name: downIn;
  animation-duration:0.7s;
  animation-delay:0.3s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-fill-mode:both;
}
.fa-times{
  visibility:hidden;//
  position:relative;
  left:0px;
  border-radius:4px;
  font-size:32px;
  transition:font-size 600ms 0s ease;
  transition:color 300ms 0s ease;
  color:#fff;
}
.fa-times:hover{
  color:$hilight;
}
.fa-bars:hover{
  /*
  animation-duration:0.3s;
  animation-name:pulpul;
  */
  color:$hilight;
}
@keyframes pulpul{
  $dist:8;
  0%{
    font-size:36px;
  }
  30%{
    font-size:56px;
  }
  100%{
    font-size:(36+$dist)px;
  }
}
.menu{
  margin-top:30%;
}
.menutitle{
  color:#f5dd68;
  font-size:30px;
  margin-left:20px;
  margin:20px;
  /*font-family: "SAO","Ronde"*/;
  font-family: "Nico Moji"; 
}
.container{
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
}
.menu_open{
  margin-left:97%;
  width:48px;
  height:48px;
  z-index:3;
}
.menu_close{
  margin-left:30%;
  margin-top:10%;
  width:48px;
  height:48px;
  z-index:3;
}
.layer{
  position:fixed;
  top:0px;
  left:0px;
  width:0%;
  height:0%;
  opacity:0.0;
  background-color:#121331;
  z-index:10;
  animation-duration:0.5s;
  animation-name:undark;
}
.layer_dark{
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  opacity:0.5;
  opacity:0.0;//
  background-color:#121361;
  z-index:10;
  animation-duration:0.5s;
  animation-name:dark;
}
@keyframes dark{
  0%{
    opacity:0.0;
  }
  100%{
    opacity:0.5;
    opacity:0.0;//
  }
}
@keyframes undark{
  0%{
    opacity:0.5;
  }
  100%{
    opacity:0.0;
  }
}
.layer2{
  z-index:1;
  position:absolute;
  top:100%;
  left:0px;
  width:100%;
  height:0%;
  background-color:#f69;
}
.layer2_trans{
  z-index:1;
  position:absolute;
  top:-100%;
  left:0px;
  width:100%;
  height:100%;
  background-color:#f69;
  animation-duration:1s;
  animation-name:trans;
}
@keyframes trans{
  0%{
    top:100%;
  }
  100%{
    top:-100%;
  }
}
#app{
}
$pad:32px;
.box{
  z-index:-1;
  font-family: "honoka"; 
  padding:60px 0px;
  width:100%;
  height:100%;
  transition:all 300ms 0s ease;
  color:$fontColor;
}
div{
  display:block;
}
.mainspace{
  padding:48px 24px;
  z-index:6;
  background-repeat:no-repeat;
}
.logo{
  color:$baseColor;
  padding:0px 0px;
  font-size:70px;
  font-family:"Ronde";
  font-family: "Nico Moji";
  /*margin-left:25%;*/
  margin-top:0%;
  min-width:350px;
  animation-name:fadeIn;
  animation-duration:0.5s;
  animation-delay:0.5s;
  animation-fill-mode: both;
}
.logo_subtext{
  color:$baseColor;
  font-size:16px;
  font-family: "Rounded Mplus 1c"; 
}
.chara{
  width:356px;
  position: relative;
  animation-name:charaFadeIn;
  animation-duration:0.5s;
  animation-delay:0.0s;
  animation-fill-mode: both;
}


@keyframes charaFadeIn{
   0%{
     left:-18px;
     opacity:0
    }
   100%{
     left:0px;
     opacity:1
    }
}
.greeting{
  font-family: "Rounded Mplus 1c"; 
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color:#ffffff;
  border-radius:4px;
  background: $baseColor;
}
.greeting:before{
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
 	margin-left: -15px;
	border: 15px solid transparent;
	border-top: 15px solid $baseColor;
}
.footer {
  font-size:15px;
  width:100%;
  height:25%;
  color:#fff;
  background:$baseColor;
  font-family: "Rounded Mplus 1c"; 
  box-shadow:0px 0px 4px $baseColor;
  z-index:1; 
}
.footer-content{
  padding:48px;
}
.head{
  background:rgba(106,68,108,0.5);
  background:rgba(255,255,255,0.0);
  border-radius:2px;
  position:fixed;
  width:100%;
  height:36px;
  top:6px;
  z-index:22;
}
.links{
  height:48px;
  padding:30px;
}
.fab{
  font-size:32px;
  margin:20px;
  background-color:$baseColor;
  color:$BGColor;
  border-radius:4px;
  padding-top:16px;
  opacity:0;
  height:43px;
  width:58px;
  box-shadow:2px 2px 4px $shadow;
  transition:all 100ms 0s ease;
}
@keyframes PopIn{
  0% {
  opacity:0;
  transform: rotate(180deg);
  }
  40% {
  transform: rotate(-20deg);
  }
  60% {
  transform: rotate(8deg);
  }
  80% {
  transform: rotate(-3deg);
  }
  100% {
  top:0px;
  opacity:1;
  transform: rotate(0deg);
  }
}
.fa-twitter{
  padding-left:1px;
  animation-name: PopIn;
  animation-duration:0.5s;
  animation-delay:0.8s;
  animation-fill-mode:both;
}
.fa-soundcloud{
  padding-left:1px;
  animation-name: PopIn;
  animation-duration:0.5s;
  animation-delay:0.9s;
  animation-fill-mode:both;
}
.fa-github{
  padding-left:1px;
  animation-name: PopIn;
  animation-duration:0.5s;
  animation-delay:1.0s;
  animation-fill-mode:both;
  transition:all 100ms 0s ease;
}
.fab:hover{
  background-color:$hilight;
  color:$baseColor;
}

a{
  transition: color .2s;
  color:$hilight;
  text-decoration: none;
}