/*$cornerColor:#334478;*/
$cornerColor:#6a446d;
$BGColor: #f5eff1;
$popColor:#6a446d;
$footerColor:$cornerColor;
$hilight:#f23473;

$mainColor:#6a446d;
$hilight:#f23473;
$growPink:#f5eff1;
html {
  height:100%;
}
body {
  min-height: 100%;
  background-color: $BGColor;
  display: grid;
  grid-template-rows: 1fr auto;
  overflow-x: hidden;
}
.BG1{
  background-color: #f5eff1;
  position:fixed;
  top:0px;
  left:40%;
  width:100%;
  height:110%;
  transform: rotate(-65deg);
  z-index:-3;
}
.container{
  position:fixed;
}
.sidebar_closed{
  box-shadow:0px 0px 4px #000;
  position:fixed;
  top:0px;
  right:-250px;
  width:250px;
  height:100%;
  color:#fff;
  background:$cornerColor;
  z-index:20;
  transition:all 300ms 0s ease;
}
.sidebar_open{
  box-shadow:0px 0px 4px #000;
  position:fixed;
  top:0px;
  right:-50px;
  width:220px;
  height:100%;
  color:#fff;
  background:$cornerColor;
  background-color:rgba(176,88,129,0.7);
  background-color:rgba(131,78,113,0.7);
  border:solid 5px $cornerColor;
  z-index:20;
  animation-duration:0.4s;
  animation-name:slidein;
}
@keyframes slidein{
  from{right:-250px}
  to{right:-50px}
}
.item{
  font-size:24px;
  align:center;
  font-family: "Nico Moji";
  text-align:10px;
  padding:16px;
  transition:all 70ms 0s ease-in;
  color:#fff;
}
.item:hover{
  color:$hilight;
  background-color:$hilight;
}
.label{
  width:100px;
  height:8px;
  background-color:#fff;
  opacity:0.5;
}
.fa-bars{
  position:relative;
  top:0px;
  left:0px;
  border-radius:4px;
  font-size:36px;
  color:$cornerColor;
}
.fa-times{
  position:relative;
  top:0px;
  left:0px;
  border-radius:4px;
  font-size:36px;
  transition:all 600ms 0s ease;
  color:#fff;
}
.fa-bars:hover{
  /*
  position:relative;
  top:-6px;
  left:-6px;
  font-size:48px;
  animation-duration:0.3s;
  animation-name:pulpul;
  */
  color:$hilight;
}
@keyframes pulpul{
  $dist:8;
  0%{
    position:relative;
    top:0px;
    left:0px;
    font-size:36px;
  }
  30%{
    position:relative;
    top:-10px;
    left:-10px;
    font-size:56px;
  }
  100%{
    position:relative;
    top:-($dist/2)px;
    left:-($dist/2)px;
    font-size:(36+$dist)px;
  }
}
.menu{
  margin-top:30%;
}
.menutitle{
  color:#f5dd68;
  font-size:30px;
  margin-left:20px;
  margin:20px;
  font-family: "Nico Moji";
}
.container{
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
}
.menu_open{
  margin-left:97%;
  width:48px;
  height:48px;
  z-index:3;
}
.menu_close{
  margin-left:30%;
  margin-top:10%;
  width:48px;
  height:48px;
  z-index:3;
}
.layer{
  position:fixed;
  top:0px;
  left:0px;
  width:0%;
  height:0%;
  opacity:0.0;
  background-color:#121331;
  z-index:10;
  animation-duration:0.5s;
  animation-name:undark;
}
.layer_dark{
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  opacity:0.5;
  background-color:#121361;
  z-index:10;
  animation-duration:0.5s;
  animation-name:dark;
}
@keyframes dark{
  0%{
    opacity:0.0;
  }
  100%{
    opacity:0.5;
  }
}
@keyframes undark{
  0%{
    opacity:0.5;
  }
  100%{
    opacity:0.0;
  }
}
.layer2{
  z-index:1;
  position:absolute;
  top:100%;
  left:0px;
  width:100%;
  height:0%;
  background-color:#f69;
}
.layer2_trans{
  z-index:1;
  position:absolute;
  top:-100%;
  left:0px;
  width:100%;
  height:100%;
  background-color:#f69;
  animation-duration:1s;
  animation-name:trans;
}
@keyframes trans{
  0%{
    top:100%;
  }
  100%{
    top:-100%;
  }
}
#app{
}
$pad:32px;
.box{
  padding:60px 0px;
  box-shadow:0 0 2px #000;
  background:#fff;
  color:#888;
  width:100%;
  height:100%;
}
div{
  display:block;
}
.mainspace{
  padding:48px 18px;
  z-index:6;
}
.logo{
  color:$hilight;
  padding:0px 40px;
  font-size:70px;
  font-family: "Nico Moji";
  min-width:350px;
}
.logo_subtext{
  color:#90747c;
  font-size:8px;
  font-family: "Rounded Mplus 1c"; 
}
.chara{
}
.greeting{
  font-family: "Rounded Mplus 1c"; 
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color:#ffffff;
  border-radius:4px;
  background: $popColor;
}
.greeting:before{
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
 	margin-left: -15px;
	border: 15px solid transparent;
	border-top: 15px solid $popColor;
}

.footer {
  padding:2%;
  font-size:15px;
  position:fixed;
  width:100%;
  height:10%;
  color:$growPink;
  left:0px;
  top:90%;
  background:$footerColor;
  font-family: "Rounded Mplus 1c"; 
  box-shadow:0px 0px 4px #746;

  z-index:1; 
}
.copy{
  font-family: "Rounded Mplus 1c";
  margin-left:4%;
  margin-top:20px;
}
.bar{
  margin-right:8px;
}

.head{
  background:rgba(106,68,108,0.5);
  background:rgba(255,255,255,0.5);
  border-radius:2px;
  position:fixed;
  width:100%;
  height:36px;
  top:6px;
  z-index:22;
}
.links{
  opacity:1;
  display:inline;
  margin:2px;
}
.bar{
  display:inline;
}
.fa-black{
  color:$cornerColor;
  transition:all 100ms 0s ease;
  font-size:32px;
  z-index:3;
}
.fa-black:hover{
  font-size:32px;
  color:$hilight;
}

a {
  transition: color .2s;
  text-decoration: none;
}
.po{
  font-size:8px;
  color:#999;
  margin-left:20%;
}
.unko{
  z-index:15;
}
