.products{
  display:inline-block;
  margin:-20px;
}
.containts{
}
.profile_name{
  position: relative;
  /*background-color:#5040c0;*/
  padding:4px;
  /*font-family: "SAO","Ronde";*/
  width:40%;
}
.frame{
  padding:14px;
  /*font-family: "SAO","Ronde";*/
  background-blend-mode: color-dodge;
  background:rgba(255,255,255,1.93);
  /*border-radius:4px;*/
  /*box-shadow:0px 0px 4px #6a446d;*/
  max-width:320px;
  margin:32px;
}
.frame_music{
  padding:14px;
  background-blend-mode: color-dodge;
  border-radius:4px;
  box-shadow:0px 0px 4px #6a446d;
  background:rgba(255,255,255,1.9);
  min-width:489px;
  margin:32px;
}
img{
  max-width:100%;
}
.img_show{
  box-shadow:0px 0px 4px #000;
  transition:all 300ms ease;
}
.img_show:hover{
  opacity:0.7;
}
.title{
  font-family: "Rounded Mplus 1c";
}
.passage{
  font-family: "Rounded Mplus 1c";
}
.works{
  font-family: "Rounded Mplus 1c";
}
.icons{
  text-align:left;
  margin-left:4%;
  margin-top:8%;
  color:#6a446d;
}
.fa-yellow{
  color:#e6ae19;
}
.fa-azure{
  color:#54abde;
}
.fa-hilight{
  color:#f23473;
}
.fa-green{
  color:#7dc873;
}
.fa-gray{
  color:#888;
}
