@font-face {
  font-family: "honoka";
  src: url("../resource/Fonts/honoka.ttf") format("opentype"); }
@font-face {
  font-family: "gkktt";
  src: url("../resource/Fonts/gkktt.ttf") format("opentype"); }
/*$hilight:#3c79f6;*/
img {
  object-fit: cover; }

h1 {
  text-align: center;
  color: #e2144a; }

h2 {
  text-align: center;
  color: #e2144a; }

h3 {
  color: #e2144a; }

h4 {
  color: #e2144a; }

html {
  height: 100%; }

body {
  background-image: url("../resource/img/web.png");
  background: #ead8e4;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  /*-webkit-animation: fadeIn 2s ease 0s 1 normal;*/ }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.container {
  position: fixed; }

.sidebar_closed {
  box-shadow: 0px 0px #f4bebe;
  position: fixed;
  top: 0px;
  right: -250px;
  width: 250px;
  height: 100%;
  color: #fff;
  background: #e2144a;
  z-index: 20;
  transition: all 300ms 0s ease; }

.sidebar_open {
  /*box-shadow:0px 0px $shadow ;*/
  position: fixed;
  top: 0px;
  width: 220px;
  height: 100%;
  color: #fff;
  /*background-color:rgba(22,71,127,0.7);*/
  background: #e2144a;
  border: solid 1px #e2144a;
  z-index: 20;
  animation-duration: 0.4s;
  animation-name: slidein;
  animation-fill-mode: both; }

@keyframes slidein {
  0% {
    right: -250px; }
  10% {
    right: -50px; }
  40% {
    right: -40px; }
  60% {
    right: -50px; }
  80% {
    right: -45px; }
  100% {
    right: -50px; } }
.item {
  font-size: 24px;
  align: center;
  /*font-family: "SAO","Ronde"*/
  /*font-family: "Nico Moji"; */
  font-family: "gkktt";
  text-align: 10px;
  padding: 16px;
  transition: all 70ms 0s ease-in;
  color: #fff; }

.item:hover {
  background-color: #f2b473; }

.label {
  width: 100px;
  height: 8px;
  background-color: #fff;
  opacity: 0.5; }

@keyframes downIn {
  0% {
    top: -148px;
    box-shadow: 0px 0px #f4bebe; }
  10% {
    top: 16px; }
  100% {
    box-shadow: 10px 10px #f4bebe; } }
.bar {
  position: absolute;
  right: 48px;
  top: 8px;
  height: 48px;
  width: 64px;
  margin-right: 8px;
  padding-top: 16px; }

.fa-bars {
  border: solid;
  border-color: #f4bebe 1px;
  border-radius: 4px;
  color: #e2144a;
  background-color: #ead8e4;
  position: relative;
  left: 0px;
  font-size: 32px;
  box-shadow: 10px 10px #f4bebe;
  transition: all 300ms 0s cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-name: downIn;
  animation-duration: 0.7s;
  animation-delay: 0.3s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-fill-mode: both; }

.fa-times {
  visibility: hidden;
  position: relative;
  left: 0px;
  border-radius: 4px;
  font-size: 12px;
  transition: all 300ms 0s ease;
  transition: font-size 600ms 0s ease;
  color: #fff; }

.fa-times:hover {
  color: #f2b473; }

.fa-bars:hover {
  /*
  animation-duration:0.3s;
  animation-name:pulpul;
  */
  color: #5244fa;
  box-shadow: 1px 1px #f4bebe; }

@keyframes pulpul {
  0% {
    font-size: 36px; }
  30% {
    font-size: 56px; }
  100% {
    font-size: 44 px; } }
.menu {
  margin-top: 30%; }

.menutitle {
  color: #f5dd68;
  font-size: 30px;
  margin-left: 20px;
  margin: 20px;
  /*font-family: "SAO","Ronde"*/
  font-family: "Nico Moji"; }

.container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%; }

.menu_open {
  margin-left: 97%;
  width: 48px;
  height: 48px;
  z-index: 3; }

.menu_close {
  margin-left: 30%;
  margin-top: 10%;
  width: 48px;
  height: 48px;
  z-index: 3; }

.layer {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 0%;
  height: 0%;
  opacity: 0.0;
  background-color: #121331;
  z-index: 10;
  animation-duration: 0.5s;
  animation-name: undark; }

.layer_dark {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  opacity: 0.0;
  background-color: #121361;
  z-index: 10;
  animation-duration: 0.5s;
  animation-name: dark; }

@keyframes dark {
  0% {
    opacity: 0.0; }
  100% {
    opacity: 0.5;
    opacity: 0.0; } }
@keyframes undark {
  0% {
    opacity: 0.5; }
  100% {
    opacity: 0.0; } }
.layer2 {
  z-index: 1;
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  height: 0%;
  background-color: #f69; }

.layer2_trans {
  z-index: 1;
  position: absolute;
  top: -100%;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #f69;
  animation-duration: 1s;
  animation-name: trans; }

@keyframes trans {
  0% {
    top: 100%; }
  100% {
    top: -100%; } }
.box {
  z-index: -1;
  font-family: "honoka";
  padding: 60px 0px;
  width: 100%;
  height: 100%;
  transition: all 300ms 0s ease;
  color: #9a449d; }

div {
  display: block; }

.mainspace {
  /*padding:48px 24px;*/
  z-index: 6;
  background-repeat: no-repeat; }

.BGbox {
  position: absolute;
  top: 20%;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background-color: #f4bebe;
  z-index: -10;
  animation: BGbox 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 1.5s both; }

/*
@keyframes boxrot{
   0%{ transform: rotate(0deg); }
   100%{ transform: rotate(359deg); }
}
*/
@keyframes BGbox {
  100% {
    width: 50%; } }
.logo {
  color: #e2144a;
  padding: 0px 0px;
  font-size: 150px;
  font-family: "Ronde";
  font-family: "Nico Moji";
  /*margin-left:25%;*/
  margin-top: 0%;
  min-width: 350px;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: both; }

.logo_subtext {
  color: #e2144a;
  font-size: 16px;
  font-family: "Rounded Mplus 1c"; }

.chara {
  width: 256px;
  position: relative;
  opacity: 0;
  animation: charaFadeIn 0.5s ease 0.0s 1 normal both, charaMotionX 4.5s ease-in 0.3s infinite normal, charaMotionY 3.5s ease 0.3s infinite normal; }

@keyframes charaMotionX {
  0% {
    transform: rotate(5deg);
    left: -4px;
    opacity: 1; }
  25% {
    transform: rotate(0deg);
    left: 0px; }
  50% {
    transform: rotate(-5deg);
    left: 4px; }
  75% {
    transform: rotate(0deg);
    left: 0px; }
  100% {
    transform: rotate(5deg);
    left: -10px;
    opacity: 1; } }
@keyframes charaMotionY {
  0% {
    top: 0px; }
  25% {
    top: 10px; }
  50% {
    top: 0px; }
  75% {
    top: -10px; }
  100% {
    top: 0px; } }
@keyframes charaFadeIn {
  0% {
    left: -18px;
    opacity: 0;
    transform: rotate(-2deg); }
  100% {
    left: 0px;
    opacity: 1;
    transform: rotate(4deg); } }
.greeting {
  font-family: "Rounded Mplus 1c";
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #ffffff;
  border-radius: 4px;
  background: #e2144a; }

.greeting:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #e2144a; }

.footer {
  font-size: 15px;
  width: 100%;
  height: 25%;
  color: #fff;
  background: #e2144a;
  font-family: "Rounded Mplus 1c";
  box-shadow: 0px 0px 4px #e2144a;
  z-index: 1; }

.footer-content {
  padding: 48px; }

.head {
  background: rgba(106, 68, 108, 0.5);
  background: rgba(255, 255, 255, 0);
  border-radius: 2px;
  position: fixed;
  width: 100%;
  height: 36px;
  top: 6px;
  z-index: 22; }

.links {
  height: 48px;
  padding: 30px; }

.fab {
  font-size: 32px;
  margin: 20px;
  background-color: #e2144a;
  color: #ead8e4;
  border-radius: 4px;
  padding-top: 16px;
  opacity: 0;
  height: 43px;
  width: 58px;
  box-shadow: 2px 2px 4px #f4bebe;
  transition: all 100ms 0s ease; }

@keyframes PopIn {
  0% {
    opacity: 0;
    transform: rotate(180deg); }
  40% {
    transform: rotate(-20deg); }
  60% {
    transform: rotate(8deg); }
  80% {
    transform: rotate(-3deg); }
  100% {
    opacity: 1;
    transform: rotate(0deg); } }
.fa-twitter {
  padding-left: 1px;
  animation-name: PopIn;
  animation-duration: 0.5s;
  animation-delay: 0.8s;
  animation-fill-mode: both; }

.fa-soundcloud {
  position: relative;
  top: 10px;
  padding-left: 1px;
  animation-name: PopIn;
  animation-duration: 0.5s;
  animation-delay: 0.9s;
  animation-fill-mode: both; }

.fa-github {
  padding-left: 1px;
  animation-name: PopIn;
  animation-duration: 0.5s;
  animation-delay: 1.0s;
  animation-fill-mode: both;
  transition: all 100ms 0s ease; }

.fab:hover {
  background-color: #f2b473;
  color: #e2144a; }

a {
  transition: color .2s;
  text-decoration: none;
  color: #f23473; }

a:hover {
  color: #f2b473; }

@font-face {
  font-family: "gkktt";
  src: url("../resource/Fonts/gkktt.ttf") format("opentype"); }
.products {
  display: inline-block;
  margin: -20px; }

.profile_name {
  position: relative;
  /*background-color:#5040c0;*/
  padding: 4px;
  font-size: 40px;
  font-family: "gkktt";
  width: 40%;
  animation-duration: 0.5s;
  animation-name: nameIn;
  animation-delay: 0.3s;
  animation-timing-function: step-start;
  animation-timing-function: linear;
  animation-fill-mode: both; }

.profile_name_shadow {
  position: absolute;
  top: 6px;
  color: #e2144a;
  color: #f23473;
  z-index: -1;
  font-size: 40px;
  font-family: "gkktt";
  width: 40%; }

.frame {
  padding: 14px;
  /*font-family: "SAO","Ronde";*/
  font-family: "honoka";
  background-blend-mode: color-dodge;
  background: white;
  border-radius: 4px;
  box-shadow: 0px 0px 4px #6a446d;
  max-width: 320px;
  margin: 32px;
  font-size: 20px;
  animation: fadeIn 0.5s linear 0.5s both; }

.frame_music {
  padding: 14px;
  background-blend-mode: color-dodge;
  border-radius: 4px;
  box-shadow: 0px 0px 4px #6a446d;
  background: white;
  min-width: 489px;
  margin: 32px; }

img {
  max-width: 100%; }

.img_show {
  box-shadow: 0px 0px 4px #000;
  transition: all 300ms ease; }

.img_show:hover {
  opacity: 0.7; }

.icons {
  text-align: left;
  margin-left: 4%;
  margin-top: 8%;
  color: #6a446d; }

.fa-yellow {
  color: #e6ae19; }

.fa-azure {
  color: #54abde; }

.fa-hilight {
  color: #f23473; }

.fa-green {
  color: #7dc873; }

.fa-gray {
  color: #888; }

.profile_icon {
  margin-top: 15%;
  width: 96px;
  height: 96px;
  border-radius: 10%;
  box-shadow: 0px 0px 4px #6a446d;
  animation-duration: 0.5s;
  animation-name: iconPopIn;
  animation-delay: 0.2s;
  animation-timing-function: linear;
  animation-fill-mode: both; }

.headbox {
  z-index: 10;
  padding-top: 7%;
  margin-bottom: 7%;
  position: absolute;
  position: fixed;
  top: -100px;
  left: 0px;
  width: 100%;
  height: 100px;
  background-color: #e2144a;
  color: #fff;
  font-size: 40px;
  animation-duration: 0.5s;
  animation-name: slidedown;
  animation-timing-function: linear;
  animation-fill-mode: both; }

.headbox_border {
  z-index: 9;
  padding-top: 7%;
  margin-top: 37%;
  position: absolute;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 1px;
  background-color: #f9f;
  /*
  animation-duration:0.5s;
  animation-name:slidedown;
  animation-timing-function: linear; 
  animation-fill-mode:both;
  */ }

@keyframes iconPopIn {
  0% {
    width: 0px; }
  25% {
    width: 108px; }
  50% {
    width: 92px; }
  75% {
    width: 98px; }
  100% {
    width: 96px; } }
@keyframes nameIn {
  0% {
    opacity: 0; }
  5% {
    opacity: 1; }
  10% {
    opacity: 0; }
  30% {
    opacity: 1; }
  40% {
    opacity: 0; }
  80% {
    opacity: 1; }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes slidedown {
  0% {
    top: -100px; }
  20% {
    top: 0%;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); }
  40% {
    top: -10px;
    animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22); }
  60% {
    top: -0%;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); }
  80% {
    top: -5px;
    animation-timing-function: linear; }
  100% {
    top: 0%; } }
.dummy_padding {
  margin-top: 15%; }

.fas {
  font-size: 24px;
  transition: all 0.1s 0s ease; }

.fas:hover {
  color: #e2144a; }

/*# sourceMappingURL=works.css.map */
